:root {
    --color-primary: #59c29d;
    --color-primary-text: #ffffff;
    --font-style1: "Courier New";
    --font-style2: monospace;
    background-color: #e0e0e0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}