.ChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: 250px;
  padding: 0px 30px;
}

.ChatContent {
  background-color: #dddddd;
  border-radius: 5px;
  height: 300px;
}
